.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", records_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_record_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Records
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.record.zone_id", :default => t("activerecord.labels.zone_id", :default => "Zone_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @records.each do |record|
          %tr{:class => cycle("odd", "even")}
            %td
              = record.id
            %td
              = link_to record.zone_id, record_path(record)
            %td
              = record.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", record_path(record)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_record_path(record)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", record_path(record), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @records
- content_for :sidebar, render(:partial => 'sidebar')
