= form_for zone do |f|
  %table
    %tbody
    %tr
      %th
        = f.label :origin
      %td
        = f.text_field :origin
    %tr
      %th
        = f.label :primary, "Name Server"
      %td
        = f.text_field :primary
    %tr
      %th
        = f.label :email, "Mailbox"
      %td
        = f.text_field :email
    %tr
      %th
        = f.label :ttl, "Time-To-Live"
      %td
        = f.text_field :ttl
    %tr
      %th
        = f.label :active, "Active"
      %td
        = f.check_box :active

  = f.submit
  = hidden_field_tag :cancel_to, request.referer
  = submit_tag "Cancel", :name => 'cancel'
