.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", zones_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_zone_path
      %li= link_to "#{t("web-app-theme.show", :default => "Show")}", zone_path
      %li= link_to "Whois", whois_zone_path
      %li.active= link_to "Check", check_zone_path
  .content
    .inner
      %table.table
        %thead
          %tr
            %th Check 
            %th Pass 
            %th Notes 
        %tbody
        - Zone.checks.each do |test|
          - check = @zone.send(test) 
          %tr
            %td= check.check_name
            %td= check.check_pass
            %td= check.check_results



  - content_for :sidebar, render(:partial => 'sidebar')
