%h1 Zones

%table.tablesorter
  %thead
    %tr
      %th Zone
      %th Active
      %th Records
      %th Edit
      %th Delete
      %th Clone
  %tbody
    - @zones.each do |z|
      %tr
        %td= link_to z.origin, zone_path(z.id)
        %td= z.active_or_not
        %td= z.records.count
        %td= link_to "Edit", edit_zone_path(z.id)
        %td= link_to "Delete", zone_path(:id => z.id), :method => :delete, :confirm => 'Are you sure?'
        %td= link_to "Clone", clone_zone_path(z.id)

= link_to "Create New Zone", new_zone_path
