.block
  %h2 Check a Domain Name: 
  .content
    .inner
      .c
        = text_field_tag :origin
        %button#check-domain= "Submit"

      %h2 Recently Checked Domains: 

      %table.table
        %tr
          %th.first
          %th
            = t("activerecord.attributes.zone.origin", :default => t("activerecord.labels.origin", :default => "Origin"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th Expires On
          %th.last &nbsp;

        - @zones.each do |zone|
          %tr{:class => cycle("odd", "even")}
            %td
            %td
              = link_to zone.hostname, public_check_zone_path(zone.hostname)
            %td
              -if zone.whois_record.present?
                = zone.whois_record.whois.nameservers.first
            %td
              -if zone.whois_record.present?
                = !zone.whois_record.whois.available? ?  zone.whois_record.expiration : 'Not Registered'
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", public_check_zone_path(zone.hostname)
